*{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
}
/* lA NAV BAR */
nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid rgba(128, 128, 128, 0.531);
}
/*En fait, j'ai divisé la navbar en 3 grandes parties que je veux encore décomposée. 
--------------------------------------------------------
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/
/* Première partie*/

.nav-logo-search{
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.nav-logo-search i.bxl-facebook-circle{
    font-size: 50px;
}

.search {
    position: relative;
}
.nav-logo-search input{
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #0000000d;
    text-indent: 29px;
    font-weight: 500;
    font-size: 15px;
}

.nav-logo-search i.bx-search{
    color: #fff;
    position: absolute;
    font-size: 24px;
    top: 13px;
    left: 7px;
}


/* Deuxième partie*/

.nav-external-link{
    grid-column: 4 / 10;
    display: flex;
    gap: 38px;
    justify-content: center;
    color: #000;
}
.nav-external-link a{
    color: #000;
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-size: 36px;
}
.active{
    border-bottom: 4px solid blue;
}


/* Troisième partie de la navbar*/
.nav-message-apks-notifs-profile{
    grid-column: 10 / 13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.nav-message-apks-notifs-profile i{
    font-size: 34px;
}

/* TOujour dans la troisième partie*/

img.myprofile{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.man{
    background-color: rgba(128, 128, 128, 0.458);
    padding: 5px;
    border-radius: 50%;
}

/* --------------------------------------------------------------------------------------

    APRÈS AVOIR FINI AVEC LA NAVBAR, IL EST TEMPS D'ATTAQUER LE BODY
    J'ai donc procéder comme dans la nav bar, à la création d'une grille de 12 colonnes avec
    3 colonne pour la première partie, 3 colonnes pour la deuxième partie et 6 colonnes pour la partie du millieu
    C'est un peu complexe à gérer, mais comme le HTML à été bien élaborer, je pense que ça ne le sera plus dans 
    l'élaboration du CSS
            _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
            vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    */
/* Le body en entier*/
.main-body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 15px 0px 0px 0px;
}

/* Première colonne du body
    Elle contient plusieurs ligne de div, donc je vais spécifié à chaque fois, la ligne que je veux modifier
*/
.div-col1{
    grid-column: 1 / 4;
    padding-left: 10Px;
}
/* Ligne numéro 1 : Les navs pour aller vers des liens externes comme la nav*/
.line1{
    border-bottom: 1px solid rgba(128, 128, 128, 0.311);
}

.goto{
    display: flex;
    width: 90%;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.goto:hover{
    background-color: rgba(128, 128, 128, 0.078);
}

.goto img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.goto img.gp{
    border-radius: 5px;
}
.goto img.pg{
    border-radius: 50%;
}
.goto span{
    background-color: rgba(0, 0, 0, 0.148);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636363;
}

/* Ligne numéro 3 de la col1*/

.confidential-links{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 0;
    font-size: 15px;
    color: #000;
}

/* La ligne colonne numéro 1 étant terminer 
-----------------------------------
Passons maintenant à la colonne Principal, la contenu principal

Concernant certaines images, j'ai du mettre le style dans les balises HTML
J'ai pas trop envie de remplir de CSS
*/
main.maincontent-col2{
    position: relative;
    grid-column: 4 / 10;
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr), 50px; /* Par contre si quelqu'un peut m'expliquer comment ça se fait que la syntax soit incorrecte et que ça règle mon problème*/
}
/* Commençons pas le boitier des stories*/
.active-stories{
    position: relative;
    /*border: 1px solid;*/
    display: flex;
    gap: 5px;
    height: 250px;
    grid-row: 1 / 2;
}
.active-stories .story1{
    width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.active-stories span{
    position: absolute;
    top: 69%;
    right: 37%;
    background-color: #000000c0;
    padding: 4px;
    border-radius: 50%;
}
.active-stories span button{
    background-color: rgb(48, 158, 255);
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.p{
    background-color: #000000c0;
    color: #FFF;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.stori{
    position: relative;
}

img.mini-pic{
    position: absolute;
    top: 25px;
    left: 15px;
    object-fit: cover;
    margin: 0;
    border-radius: 50%;
    width: 34px; 
    height: 34px;
    border: 4px solid rgb(36, 36, 252);
}

img.stor{
    border-radius: 10px;
    height: 100%; 
    width: 150px;
}
p.Username{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #FFF;
    font-weight: 600; 
    margin: 0;  
}
button.next-view{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 103px;
    right: 0;
    font-size: 30px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.264);
    border: none;
    border-radius: 50%;
    color: #FFF;
}

    /* Maintenant que j'ai fini avec la boite des stories, je vais 
    commencer avec la section pour la pub */
.write-a-post{
    padding-top: 10Px;
    grid-row: 2 / 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 125px;
    background-color: #8989891e ;
}
.new-post-write{
    display: flex;
    align-self: center;
    width: 90%;
    gap: 5Px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.311);
}
.new-post-write input{
    border: none;
    text-indent: 12px;
    border-radius: 25px;
    width: 90%;
    outline: none;
    background-color: #0000002e;
    font-size: 16px;
    flex-grow: 1;
}
.post-add-fonctions{
    display: flex;
    align-items: center;
    height: 100%;
}
.function-div{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    width: 100%;
}
.function-div .box{
    display: flex;
    align-items: center;
    gap: 5px;
}
.function-div .box button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.function-div p{
    margin: 0;
}
.function-div .box i{
    font-size: 35px;
}

/* À présent designons le fil d'actualité */
.first-publication{
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    background-color: #3636362d;
    border-radius: 10px;
}

.first-publication-head{
    /*border: 1px solid;*/
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.user-profil{
    /*border: 1px solid;*/
    width: 40%;
    display: flex;
    gap: 5px;
}
.pub-infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pub-infos p{ 
    margin: 0;

}
.user-post-name{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.post-date{
    font-size: 12px;
}

.first-publication-head .post-nav{
    display: flex;
    align-items: center;
    font-size: 29px;
}

.first-publication-head .post-nav i{
    cursor: pointer;
}

.first-publication-footer{
   /* border: 1px solid;*/
    display: flex;
    flex-direction: column;
}

.first-publication-footer .reaction-stats{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.311);
}
.first-publication-footer .reaction-stats p{
    margin: 10px 0;
}

.first-publication-footer .reaction-stats .reactions-saved{
    display: flex;
}
.first-publication-footer .reaction-stats .section-com-share{
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.first-publication-footer .reaction-btns{
    display: flex;
    justify-content: space-around;
}

/* 
        Maintenant que la première colonne et le main container est terminée
        Faisons la finition Let's goooooooo!!!!

        *_* *_* *_* *_* *_* *_* *_* *_* *_* *_* *_* *_* *_* 

           hhbbbbbbbbbbbbbb=============================================
           vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
*/

.col3{
    grid-column: 10 / 13;
    gap: 6px;
}
.col3  .ads-show h4{
    margin: 10px 0;
}
.col3 .ads-show{
    display: grid;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.311);
    padding-bottom: 15px;
}

.ad-display{
    display: flex;
    gap: 10px;
}
.ad-display img{
    display: flex;
    width: 150px; 
    height: 110px; 
    object-fit: cover;
    border-radius: 10px;
}

.ad-display .references-ads p{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ad-display .references-ads p span{
    font-size: 14px;
}
/*Section basculer vers la page 
    Voilà le CSS sur un plateau
*/ 
.switch-to-page{
    display: grid;
    border-bottom: 1px solid rgba(128, 128, 128, 0.311);
    padding-bottom: 20px;
}

.switch-to-page h4{
    margin: 10px 0;
}
.switch-to-page .nav-page-switch i.bx-dots-horizontal-rounded{
    font-size: 24px;
}
.switch-to-page .nav-page-switch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch-to-page .last-seen-page-yours{
    display: flex;
    gap: 7px;
}
.switch-to-page .last-seen-page-yours p{
    font-size: 17px;
    margin: 10px;
    font-weight: 400;
}
.switch-to-page .switch-to-page-options .switch {
    display: flex;
    gap: 10px;
    align-items: center;
}
.switch-to-page .switch-to-page-options{
    padding: 0 30px;
}
.switch-to-page .switch-to-page-options .switch p{
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}

.switch-to-page .switch-to-page-options .switch i{
    font-weight: 500;
    font-size: 30px;
}

/* Passons à la dernière étape : 

la section "Friends request" */

.friends-request-pending{
    display: grid;
}

.friends-request-pending .page-request-nav h3 {
    margin: 10px 0;
}

.friends-request-pending .page-request-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friends-request-pending .options-friends-request h4 {
    margin: 0;
} 

.last-friend-request-pending{
    display: flex;
    gap: 10px;
}

.last-friend-request-pending .options-friends-request{
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.last-friend-request-pending .options-friends-request .name-date-request p{
    margin: 0;
}
.last-friend-request-pending .options-friends-request .name-date-request{
    display: flex;
    justify-content: space-between;
}

.last-friend-request-pending .options-friends-request .mutual-friends p{
    margin: 0;
}

.last-friend-request-pending .options-friends-request .mutual-friends{
    display: flex;
}

.last-friend-request-pending  .nav-btn-friends{
    display: flex;
    justify-content: space-between;
}
.last-friend-request-pending  .nav-btn-friends button{
    width: 49%;
    height: 45px;
    font-weight: 500;
    cursor: pointer;
}

.last-friend-request-pending  .nav-btn-friends button.confirm-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 102, 255);
}
.last-friend-request-pending  .nav-btn-friends button.delete-btn{
    border: none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.413);
}


@media (max-width: 1318px) {
    .nav-logo-search input{
        width: 48px;
        border-radius: 50%;
    }
    .nav-logo-search input::placeholder{
        opacity: 0;
    }
    .nav-logo-search i.bx-search{
        font-size: 35px;
        top: 11px;
        left: 8px;
    }
}
@media (max-width: 1289px) {
    .div-col1{
        display: none;
        grid-column: 1/2;
    }
    main.maincontent-col2{
        grid-column: 2 / 10;
    }
    .nav-external-link i.bxs-game{
        display: none;
    }
}
@media (min-width: 1289px) {
    .nav-external-link i.bx-menu{
        display: none;
    }
}
@media (max-width: 1075px) {
    .col3{
     display: none;
     grid-column: 11 /13;
    }
    
    main.maincontent-col2{
     grid-column: 1 / 13;
 }
 }
 @media (max-width: 971px) {
    .nav-message-apks-notifs-profile i.bx-dialpad-alt{
        display: none;
    }
 }
 @media (min-width: 971px) {
    .nav-message-apks-notifs-profile i.bxs-plus-circle{
        display: none;
    }
 }

 @media (max-width: 800px) {
    .nav-external-link{
        display: none;
    }
 }
 @media (max-width: 622px) {
    .main-body{
        grid-auto-columns: 100px;
    }
 }